<section id="about_me">
  <div class="container">
    <h2 class="title">ABOUT <span class="title-span">Us</span></h2>
    <div class="cont-img-bio">
      <div class="cont-image">
        <img src="../img/about-me/2.jpg" alt="">
      </div>

      <div class="cont-bio">
        <h3 class="title-three">BIO</h3>
      <ul class="skills-list">
        <li>
          <p class="skills-list-text">
            We are a professional painting company based in Seattle, Washington, specializing in delivering 
            <span>high-quality residential and commercial painting services</span>. Our team brings years of experience, attention to detail, and a passion for transforming spaces with color and precision.
          </p>
        </li>
        <li>
          <p class="skills-list-text">
            We pride ourselves on being <span>reliable, efficient, and easy to work with</span>. Whether working on interior or exterior projects, we maintain the highest standards of quality and customer satisfaction. 
            Constantly improving our skills and techniques, we stay updated with the latest trends and materials in the painting industry to ensure beautiful, lasting results for every client.
          </p>
        </li>
      </ul>

        </ul>
        <!-- <div class="background-image"></div> -->
      </div>
    </div>

    <!-- <ul class="cont-education-role">
      <li class="cont-education">
        <h3 class="title-three">EDUCATION</h3>
        <ul>
          <li class="li-item">
            <svg class="icon-about" width="24" height="24">
              <use href="./img/symbol-defs.svg#icon-greenSmall"></use>
            </svg>
            <p class="education-role-text">
              2018 - 2019 / Frontend Development Diploma, GoIT IT School, New
              York
            </p>
          </li>
          <li class="li-item">
            <svg class="icon-about" width="24" height="24">
              <use href="./img/symbol-defs.svg#icon-greenSmall"></use>
            </svg>
            <p class="education-role-text">
              2019 - 2020 / Advanced Web Development Certificate, GoIT IT
              School, New York
            </p>
          </li>
          <li class="li-item">
            <svg class="icon-about" width="24" height="24">
              <use href="./img/symbol-defs.svg#icon-greenSmall"></use>
            </svg>
            <p class="education-role-text">
              2020 - 2022 / Advanced Blender Animation Techniques, Udemy
            </p>
          </li>
        </ul>
      </li>
      <li class="cont-role">
        <h3 class="title-three">ROLE</h3>
        <ul>
          <li class="li-item">
            <svg class="icon-about-second last-three" width="4" height="4">
              <use href="./img/symbol-defs.svg#icon-Rectangle-2062"></use>
            </svg>
            <p class="education-role-text">Frontend development</p>
          </li>
          <li class="li-item">
            <svg class="icon-about-second last-three" width="4" height="4">
              <use href="./img/symbol-defs.svg#icon-Rectangle-2062"></use>
            </svg>
            <p class="education-role-text">HeadlessCMS, Wordpress</p>
          </li>
          <li class="li-item">
            <svg class="icon-about-second last-three" width="4" height="4">
              <use href="./img/symbol-defs.svg#icon-Rectangle-2062"></use>
            </svg>
            <p class="education-role-text">Blender (enjoy)</p>
          </li>
        </ul>
      </li>
    </ul> -->
  </div>
</section>
