<!-- додайте dark переход на темну тему -->
<section>
  <div class="footer container">
    <div class="footer-inner">
      <p class="footer-logo">
        O & P<span class="footer-logo-span">Painting.</span>
      </p>

      <ul class="foter-social-list">
        <li class="foter-social-item">
          <a
            href="https://maps.app.goo.gl/ZmcVqmb4XmmyG5MA8?g_st=ic"
            class="foter-social-item-link"
            target="_blank"
            >Map</a
          >
        </li>
        <li class="foter-social-item">
          <a
            href="#"
            target="_blank"
            class="foter-social-item-link"
            >Facebook</a
          >
        </li>
      </ul>
    </div>
    <p class="footer-copiright">© Copyright 2024. Made by O&P Painting</p>
  </div>
</section>
