<section class="projects-section" id="projects">
  <div class="container">
    <h2 class="projects-title" style="color: #347aeb;">Our <span style="color: yellow;">projects</span></h2>
    <ul class="image-list">
      <li class="image-item">
        <div class="img-cont">
          <img src="./img/My-project/2_2.jpg" alt="" width="540">
          <img src="./img/My-project/1_2.jpg" alt="" width="540">
        </div>
        
        <div class="link-wrapper">
          <p class="img-naming">Painting Cabinets</p>

        </div>
      </li>
      <li class="image-item">

        <div class="img-cont">
          <img src="./img/My-project/3_1.jpg" alt="" width="540">
          <img src="./img/My-project/3_2.jpg" alt="" width="540">
        </div>
        <div class="link-wrapper">
          <p class="img-naming">Interior Painting</p>

        </div>
      </li>
      <li class="image-item">
        <div class="img-cont">
          <img src="./img/My-project/8_1.jpg" alt="" width="540">
          <img src="./img/My-project/8_2.jpg" alt="" width="540">
        </div>
        <div class="link-wrapper">
          <p class="img-naming">Exterior Painting
          </p>

        </div>
      </li>

    </ul>
    <button class="load-more-btn" type="button">Load more</button>
  </div>
</section>
