<section class="tech-skills-section">
  <h2 class="hidden">Tech Skills</h2>
  <div class="main-wrapper">
    <!-- first-dark переход на темну тему -->
    <div class="first">
      <ul class="tech-skills-list">
        <li class="tech-skills-item">Interior Painting</li>
        <li class="tech-skills-item">Exterior Painting</li>
        <li class="tech-skills-item">Residential Painting</li>
        <li class="tech-skills-item">Commercial Painting</li>
        <li class="tech-skills-item">Surface Preparation</li>
        <li class="tech-skills-item">Drywall Repair</li>
        <li class="tech-skills-item">Wallpaper Removal</li>
        <li class="tech-skills-item">Deck and Fence Staining</li>
        <li class="tech-skills-item">Color Consultation</li>
        <li class="tech-skills-item">Eco-Friendly Paint Options</li>
        <li class="tech-skills-item">Pressure Washing</li>
        <li class="tech-skills-item">Trim and Detail Work</li>
      </ul>
      
    </div>
    <!-- second-dark переход на темну тему -->
    <div class="second">

      <ul class="tech-skills-list">
        <li class="tech-skills-item">Exterior Painting</li>
        <li class="tech-skills-item">Interior Painting</li>
        <li class="tech-skills-item">Residential Painting</li>
        <li class="tech-skills-item">Surface Preparation</li>
        <li class="tech-skills-item">Commercial Painting</li>
        <li class="tech-skills-item">Drywall Repair</li>
        <li class="tech-skills-item">Wallpaper Removal</li>
        <li class="tech-skills-item">Deck and Fence Staining</li>
        <li class="tech-skills-item">Color Consultation</li>
        <li class="tech-skills-item">Residential Painting</li>
        <li class="tech-skills-item">Pressure Washing</li>
        <li class="tech-skills-item">Trim and Detail Work</li>
      </ul>
    </div>
  </div>
</section>
